.sections {
    display: flex;
    padding: 1em;
    justify-content: center;
}

.text-section {
    width: 40%;
    height: 100%;
    padding-top: 2em;
    padding-left: 1em;
    padding-inline: 2em;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

.text-section-title {
    font-size: 70px;
    letter-spacing: -0.05em;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: right;
    font-weight: 800;
}

.text-section-paragraph {
    font-size: 15;
    line-height: 30px;
    text-align: right;
}

.image-section {
    display: flex;
    height: 50%;
}

.container-left {
    padding-right: 1em;
}

.image-section-image {
    width: 399px;
}

.two {
    padding-bottom: 1em;
}

.three {
    height: 100%;
}

@media only screen and (max-width: 320px) {
    .sections {
        flex-direction: column;
    }

    .image-section {
        display: flex;
        width: 100%;
    }

    .text-section {
        width: 100%;
        text-align: left;
    }

    .text-section-title {
        font-size: 35px;
        text-align: left;
    }

    .text-section-paragraph {
        font-size: 13px;
        line-height: 20px;
        text-align: left;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .sections {
        flex-direction: column;
    }

    .text-section {
        width: 100%;
    }

    .text-section-title {
        font-size: 40px;
        text-align: left;
    }

    .text-section-paragraph {
        font-size: 15px;
        line-height: 25px;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sections {
        align-items: center;
    }

    .text-section {
        width: 100%;
    }

    .text-section-title {
        font-size: 40px;
        text-align: right;
    }

    .text-section-paragraph {
        font-size: 12px;
        line-height: 25px;
        text-align: right;
    }
}
