.layout-view {
    display: flex;
    margin: 1em;
    justify-content: center;
    padding-inline: 3em;
}

.layout-view-properties {
    background: rgba(255, 255, 255, 0.2);
    margin: 0.5em;
    list-style: none;
    padding: 1em;
    padding-inline: 5em;
    display: flex;
    align-items: center;
}

.layout-view-properties-left-side {
    display: flex;
    flex-direction: column;
}

.layout-view-properties-date {
    font-size: 30px;
    margin-bottom: .5em;
}

.layout-view-properties-rating {
    margin-bottom: 1em;
    margin-top: 0.5rem;
    display: flex;
    width: 200px;
    align-items: center;
}

.layout-view-properties-rating-label {
    margin-right: 20px;

    font-size: 12px;
}

.layout-view-properties-rating-content {
    background: grey;
    height: 10px;
    width: 200px;
    display: block;
    border: none;
    border-radius: 25px;
}

.layout-view-properties-rating-content::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 0.5);
}

.layout-view-properties-rating-content::-moz-progress-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

.layout-view-properties-summary {
    margin-top: 1em;
    width: 70%;
}

.layout-view-properties-video {
    margin-top: 1em;
    margin-left: 4em;
}

.layout-view-properties-total-time {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    font-size: 12px;
}

.layout-view-properties-total-time-label {
    font-size: 12px;
    margin-right: 1em;
}

@media only screen and (min-width: 320px) and (max-width: 430px) {
    .layout-view-properties {
        flex-direction: column;
    }

    .layout-view-properties-video div {
        width: 300px !important;
        height: 168.75px !important;
    }
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
    .layout-view-properties {
        flex-direction: column;
    }

    .layout-view-properties-video div {
        width: 400px !important;
        height: 225px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .layout-view-properties-left-side {
        align-items: center;
        justify-content: center;
    }

    .layout-view-properties {
        flex-direction: column;
    }

    .layout-view-properties-summary {
        text-align: center;
        margin-top: 0;
    }

    .layout-view-properties-video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 2em;
    }
}
