.login-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen-container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-block: 2em;
    padding-inline: 3em;

    h2 {
        margin-bottom: .5em;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }
}

.input-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .label-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }

    .label {
        margin-right: 10px;
        display: inline;
        font-size: 14px;
        font-weight: bold;
    }

    input {
        outline: none;
        padding-inline: 10px;
        padding-block: 10px;
        border-radius: 10px;
        border: none;
        background: rgba(0, 0, 0, 0.6);
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
    }

    input::placeholder {
        font-size: 12px;
    }

    input::-moz-placeholder {
        font-size: 12px;
    }

    button {
        width: 100%;
        font-size: 13px;
        padding-block: 1em;
        border-radius: 35px;
        border: none;
        background: rgba(0, 0, 0, 0.6);
        color: rgba(255, 255, 255, 0.8);
    }

    button:hover {
        cursor: pointer;
    }
}
