#root {
    background: #262a33;
    font-family: Inter;

    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: min-content;

    color: white;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
